/****************************************/
/*	PART: IMPORT CSS
/****************************************/
/* flag */
:root {
  --space-4xs: .4rem;
  --space-3xs: .8rem;
  --space-2xs: 1rem;
  --space-xs: 1.1rem;
  --space-sm: 1.2rem;
  --space-ms: 1.4rem;
  --space-md: 1.6rem;
  --space-mx: 1.8rem;
  --space-lg: 2.0rem;
  --space-xl: 2.4rem;
  --space-2xl: 3.2rem;
  --space-3xl: 4.0rem;
  --space-4xl: 4.8rem;
}

/* function */
/****************************************/
/*	PART: GUIDE PAGE STYLE
/****************************************/
/* container */
.skipNav {
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 2;
}
.skipNav a {
  display: block;
  font-size: 1;
  height: 1px;
  width: 0px;
  margin: 0 -1px -1px 0;
  overflow: hidden;
  line-height: 0;
  text-align: center;
}
.skipNav a:focus, .skipNav a:hover, .skipNav a:active {
  width: auto;
  height: 2.8rem;
  margin: 0;
  padding: 0.8rem 0;
  background: #000;
  font-size: 1.4rem;
  line-height: 1.2rem;
  color: #fff;
  z-index: 15;
  box-sizing: border-box;
}

#pg-wrap {
  margin: 0;
}
#pg-headerWrap {
  background: linear-gradient(180deg, #191B2A, #302CA4);
  width: 100%;
  padding: 2rem 1rem 0;
}

.wg-hgroup {
  padding: 2.5rem 2rem 2rem;
}
.wg-hgroup .wgTit01 {
  font-size: var(--space-mx);
}
.wg-hgroup .wgTit01::before {
  content: "";
  display: inline-block;
  content: "\f550";
  font-family: "iconFont";
  color: #302CA4;
  font-size: var(--space-ms);
  margin-right: 0.5rem;
  vertical-align: middle;
}
.wg-fxWrap {
  display: flex;
}
.wg-fxWrap ~ .wg-fxWrap {
  margin-top: 4rem;
}
.wg-rowWrap > .wg-fx {
  flex: 1;
  max-width: 50%;
  justify-content: space-between;
}
.wg-rowWrap > .wg-colWrap {
  max-width: 50%;
}
.wg-colWrap {
  flex-direction: column;
}
.wg-colWrap-fx ~ .wg-fx {
  margin-top: 4rem;
}
.wg-contBoxWrap {
  display: flex;
  padding: 0 2rem;
}
.wg-contBody {
  width: 100%;
  background: #fff;
  color: #222;
  border: 1px solid #fff;
  box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.1);
}
.wg-contBody > dt {
  padding: 2rem;
  font-size: 1.5rem;
}
.wg-contBody > dt + dd {
  border-top: 1px solid #ebedf2;
}
.wg-contBody > dd {
  padding: 2rem;
}
.wg-contBody > dd + dd {
  padding-top: 0;
}
.wg-TxtTit {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  background: #E8E9FB;
  color: #4d5cf2;
  border-radius: 0.5rem;
}
.wg-lstBody {
  padding: 0.5rem;
}
.wg-example {
  margin-top: 1rem;
}
.wg-example + .wg-TxtTit {
  margin-top: 2rem;
}
.wg-lst-bar > li, .wg-lst-bar .wg-ico {
  text-indent: -0.5rem;
  margin-left: 0.5rem;
}
.wg-lst-bar > li::before {
  content: "";
  display: block;
  display: inline-block;
  content: "-";
  margin-right: 0.5rem;
}
.wg-lst-bar > li ~ li {
  margin-top: 0.5rem;
}
.wg-ico::before {
  content: "";
  display: inline-block;
  font-family: "iconFont";
  content: "-";
  margin-right: 0.5rem;
}
.wg-ico.wg-ico-bar::before {
  content: "";
  display: inline-block;
  content: "-";
}
.wg-ico.wg-ico-info::before {
  content: "";
  display: inline-block;
  content: "\f22d";
  color: #FD397A;
}
.wg-ico.wg-ico-star::before {
  content: "";
  display: inline-block;
  content: "*";
  color: #BE4BDB;
}
.wg-splitWrap {
  display: flex;
  flex-wrap: wrap;
}
.wg-splitWrap.col2 > li {
  display: inline-block;
  flex-direction: column;
  width: 48%;
  padding: 0 0.5rem 0.5rem;
}
.wg-splitWrap.col2 > li:nth-child(even) {
  margin-left: 1%;
}
.wg-splitWrap.col2 > li.wg-split-none {
  flex-direction: row;
  display: block;
  width: 100%;
  margin: 0;
}
.wg-splitWrap.col2.wg-lst-bar > li ~ li {
  margin-top: 0;
}
.wg-splitWrap.col2 > .colSec {
  display: inline-block;
  flex-direction: column;
  width: 49%;
  padding: 0 0.5rem 0.5rem;
}
.wg-splitWrap.col2 > .colSec:nth-child(even) {
  margin-left: 2%;
}
.wg-splitWrap.col2 > .colSec.col-full {
  width: 100%;
}
.wg-splitWrap .col-full {
  float: none;
  clear: both;
}

.wg-lst-bar > li > *, .wg-ico > * {
  text-indent: 0;
}

.component-nav {
  background: #fff;
  border-radius: 0.5rem 0.5rem 0 0;
}
.component-nav .nav-lst {
  display: flex;
}
.component-nav .nav-lst > li > a {
  display: block;
  padding: 1rem;
  text-align: center;
  transition: 0.5s color ease;
}
.component-nav .nav-lst > li > a::after {
  content: "";
  display: block;
  width: 0;
}
.component-nav .nav-lst > li > a:hover {
  backface-visibility: hidden;
  position: relative;
  text-decoration: none;
  color: #016823;
}
.component-nav .nav-lst > li > a:hover::after {
  content: "";
  display: block;
  backface-visibility: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s all ease;
  width: 100%;
  bottom: 0;
  height: 0.35rem;
  width: 100%;
  background: #00c542;
}
.component-nav .nav-lst > li > a.is-active {
  backface-visibility: hidden;
  position: relative;
  text-decoration: none;
  color: #7c4bdf;
}
.component-nav .nav-lst > li > a.is-active::after {
  content: "";
  display: block;
  backface-visibility: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s all ease;
  width: 100%;
  bottom: 0;
  height: 0.35rem;
  width: 100%;
  background: #7c4bdf;
}

.pg-contentWrap {
  padding: 2rem;
}

.component-lst {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.component-lst > li {
  margin-bottom: 4rem;
}
.component-wrap {
  min-width: 375px;
}
.component-wrap ~ .component-wrap {
  margin-left: 2rem;
}
.component-wrap > iframe {
  width: 100%;
  height: 64rem;
  border: 0.2rem #333 solid;
}
.component-item {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
}
.component-item > * {
  padding: 1.5rem 1rem;
  border-top: 1px #222 solid;
  font-family: "roboto";
  font-weight: 400;
}
.component-item > dt {
  flex: 0 0 20%;
}
.component-item > dt:first-child {
  border: 0;
}
.component-item > dt:first-child + dd {
  border: 0;
}
.component-item > dd {
  flex: 0 0 80%;
}

.cp-tit.dep01 {
  font-size: 2.2rem;
}
.cp-tit.dep02 {
  font-size: 1.8rem;
}
.cp-tit.dep02::before {
  content: "";
  display: block;
  background: #00c542;
  width: 1.5rem;
  height: 0.3rem;
}
.cp-tit.dep03 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
.cp-tit.dep03::before {
  content: "";
  display: block;
  color: #ff3502;
  margin-right: 1rem;
  display: inline-block;
  content: "\f02e";
  font-family: "iconFont";
  font-weight: 900;
}
.cp-tit + .btnWrap {
  margin-top: 2rem;
}

#cp-wrap {
  padding: 2rem;
}
#cp-wrap .cp-content ~ .cp-content {
  margin-top: 3rem;
}
#cp-wrap .cp-content .btnWrap > .btn {
  margin-bottom: 1rem;
}
#cp-wrap .cp-content > .toolTip_wrap {
  margin: 2rem 0;
}
#cp-wrap .cp-content .field + .field {
  margin: 2rem 0;
}
#cp-wrap .cp-tit.dep01 {
  font-size: 2.2rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}
#cp-wrap .cp-tit.dep01 .info {
  font-size: 1.2rem;
  color: #ff0000;
  line-height: 2rem;
  margin-top: 1rem;
  display: inline-block;
}
#cp-wrap .cp-tit.dep02 {
  font-size: 1.8rem;
  background: #a9b5ca;
  padding: 0.5rem 1rem;
}
#cp-wrap .cp-tit.dep02::before {
  content: "";
  display: block;
  display: none;
}
#cp-wrap .cp-tit.dep03 {
  font-size: 1.6rem;
}
#cp-wrap .cp-tit + .component {
  margin-top: 0.5rem;
}
#cp-wrap .cp-tit + .field {
  margin-top: 2rem;
}

.tblWrap {
  margin: 1.5rem 0 0.5rem;
}
.tblWrap .tbl {
  width: 100%;
}
.tblWrap .tbl th, .tblWrap .tbl td {
  padding: 1rem;
  border-top: 1px #222 solid;
}
.tblWrap .tbl th {
  background: #e6e6e6;
}
.tblWrap .tbl td {
  background: #f5f5f5;
}
.tblWrap .tbl tr:first-child > th, .tblWrap .tbl tr:first-child > td {
  border-top: 0;
}

.hr.divice {
  display: block;
  visibility: visible;
  background: #aaa;
  border: none;
  height: 1px;
}

/* TABLE */
.cp-tbl {
  display: flex;
  justify-content: start;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 1rem;
}
.cp-tbl .tblWrap > p:first-child {
  margin-top: 0;
}
.cp-tbl .tblWrap p {
  margin: 4rem 0 1rem;
}
.cp-tbl .tblWrap table {
  width: 100%;
}
.cp-tbl .tblWrap table + table {
  margin-top: 2rem;
}
.cp-tbl .tblWrap table th, .cp-tbl .tblWrap table td {
  padding: 1rem;
  border: 0.1rem #aaa solid;
}
.cp-tbl .tblWrap table th {
  border-color: #666;
}
.cp-tbl .tblWrap table thead th {
  background: #d9e4fa;
}
.cp-tbl .tblWrap table thead + tbody > tr:first-child th, .cp-tbl .tblWrap table thead + tbody > tr:first-child td {
  border-top: none;
}
.cp-tbl .tblWrap table tbody th {
  background: #f3f1ea;
}
.cp-tbl .tblWrap caption {
  position: relative !important;
  padding: 1.5rem 1rem 0.5rem !important;
  background-color: #ddd;
  font-size: var(--space-xs) !important;
  border: 1px #ccc solid !important;
}
.cp-tbl .tblWrap caption::before {
  content: "";
  display: block;
  background-color: #aaa;
  display: inline-block !important;
  content: "Table Caption" !important;
  position: absolute;
  top: -0.5rem !important;
  left: -0.5rem !important;
  padding: 0.3rem 1rem;
}
.cp-tbl .tblWrap caption > p {
  margin: 0 !important;
}
.cp-tbl .tblWrap legend, .cp-tbl .tblWrap caption {
  overflow: visible !important;
  width: auto !important;
  height: auto !important;
  margin: auto !important;
  line-height: inherit !important;
  clip: auto;
}
.cp-tbl .desc {
  display: none;
  width: 50rem;
  background: #d3ffe5;
  padding: 15px;
  margin-right: 5rem;
  border: 0.1rem #8ed0aa solid;
}
.cp-tbl .desc p::before {
  content: "";
  display: block;
  display: inline-block;
  width: 0.2rem;
  height: 1rem;
  background-color: #ff3502;
  margin-right: 5px;
}
.cp-tbl .desc p ~ p, .cp-tbl .desc p ~ ul {
  margin-top: 10px;
}
.cp-tbl ul p::before {
  content: "";
  display: block;
  display: none;
}
.cp-tbl b {
  color: #e00700;
}
.cp-tbl strong {
  color: #016823;
  font-weight: bold;
}
.cp-tbl strong + div, .cp-tbl strong + ul {
  margin-top: 1rem;
}
.cp-tbl .bul > li {
  position: relative;
  margin: 0.2rem 0 0;
  padding: 0 0 0.4rem 1.3rem;
  color: #000;
}
.cp-tbl .bul > li::before {
  content: "";
  display: block;
  position: absolute;
  top: 0.7rem;
  left: 0.5rem;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 100%;
  background-color: #0048ff;
}
.cp-tbl .case {
  counter-reset: number 0;
}
.cp-tbl .case > li {
  padding: 10px 0;
  border-top: 0.1rem #8ed0aa solid;
}
.cp-tbl .case > li::before {
  content: "";
  display: block;
  display: inline-block;
  content: "CASE" counter(number);
  counter-increment: number;
  color: #fff;
  font-weight: 400;
  font-size: var(--space-3xs);
  background-color: #016823;
  padding: 0.3rem 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.3rem;
  vertical-align: top !important;
}