<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui, viewport-fit=cover, user-scalable=no">
    <title>페이지 스크롤 탑</title>
    
    <!-- [S] PUBLISH COMMON STYLE -->
    <link rel="stylesheet" href="../../asset/css/cm.common.css">
    <!-- [E] PUBLISH COMMON STYLE -->

    <!-- [S] PAGES - STYLE -->
    <link rel="stylesheet" href="">
    <!-- [E] PAGES - STYLE -->

    <!-- [S] LIBRARY - SCRIPT -->
    <script src="../../asset/js/lib/lib.jquery-3.6.3.min.js"></script>
    <script src="../../asset/js/lib/lib.jquery-ui-1.13.2.js"></script>
    <!-- [E] LIBRARY - SCRIPT -->

    <!-- [S] @TEMP - GUIDE STYLE -->
    <link rel="stylesheet" href="../com/css/cm.guide.css">
    <!-- [E] @TEMP - GUIDE STYLE -->
</head>
<!-- [D / P]
    1. quick-topBtn="false"가 선언되어 있으면 퀵버튼 생성 및 cp.quick()가 실행되지 않음
    2. quick-topBtn="true"거나 빈값 또는 선언되어 있지 않으면 퀵버튼 생성 및 cp.quick()가 실행됨
-->
<body quick-topBtn="">
    <div id="cp-wrap">
        <div id="cp-container">
            <h1 class="cp-tit dep01">PAGE GO TO TOP</h1>

            <section class="cp-content" tabindex="0">
                <p>
                    페이지 스크롤을 하면 스크롤탑 버튼이 보입니다.<br><br>
                    1. quick-topBtn="false"가 선언되어 있으면 퀵버튼 생성 및 cp.quick()가 실행되지 않음<br>
                    2. quick-topBtn="true"거나 빈값 또는 선언되어 있지 않으면 퀵버튼 생성 및 cp.quick()가 실행됨<br>
                    페이지 스크롤을 하면 스크롤탑 버튼이 보입니다.<br>
                    .<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>
                    .<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>
                    .<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>
                    .<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>
                    .<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>
                    .<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>
                    .<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>
                    .<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>
                    <a href="#none">페이지 초점확인</a>
                    .<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>
                    .<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>
                    .<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>
                    .<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>
                    .<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>
                    .<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>
                    .<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>
                    .<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>
                    페이지 스크롤을 하면 스크롤탑 버튼이 보입니다.<br>
                    페이지 스크롤을 하면 스크롤탑 버튼이 보입니다.<br>
                    페이지 스크롤을 하면 스크롤탑 버튼이 보입니다.<br>
                    페이지 스크롤을 하면 스크롤탑 버튼이 보입니다.<br>
                </p>
            </section>

        </div>
        
    </div>
<!-- [S] PAGES - SCRIPT -->
<script src="../../asset/js/ui.component.js"></script>
</body>
</html>