<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui, viewport-fit=cover, user-scalable=no">
<title>Swiper v8.4.7</title>

<!-- [S] PUBLISH COMMON STYLE -->
<link rel="stylesheet" href="../com/css/cm.common.css">
<!-- [E] PUBLISH COMMON STYLE -->

<!-- [S] PAGES - STYLE -->
<link rel="stylesheet" href="../com/css/swiper_8.4.7.css">
<!-- <link rel="stylesheet" href="../com/css/swiper.css"> -->
<!-- [E] PAGES - STYLE -->
	
<!-- [S] LIBRARY - SCRIPT -->
<script src="../com/js/lib/lib.jquery-3.6.3.min.js"></script>
<script src="../com/js/lib/lib.jquery-ui-1.13.2.js"></script>
<script src="../com/js/lib/lib.swiper.8.4.7.min.js"></script>
<!-- <script src="../com/js/lib/lib.swiper.3.4.2.min.js"></script> -->

<!-- [E] LIBRARY - SCRIPT -->

</head>
<body>
<div id="cp-wrap">
	<div id="cp-container">
		<h1 class="cp-tit dep01">[swiper v8.4.7] swiper<br><span class="info">※ v11버전은 유료화로 바뀌면서 slider loop일때 버그가 있어서 v8버전을 사용</span></h1>
		<section class="cp-content">
			<h2 class="cp-tit dep02">triple, pagination easeing</h2>
			<div class="swiper_box">
				<div class="swiper triple-swiper">
					<ul class="swiper-wrapper">
						<li class="swiper-slide">슬라이드1<button class="btn">더보기</button></li>
						<li class="swiper-slide">슬라이드2<button class="btn">더보기</button></li>
						<li class="swiper-slide">슬라이드3<button class="btn">더보기</button></li>

					</ul>
					<div class="swiper-pagination"></div>
				</div>    
			</div>
		</section>
		<section class="cp-content">
			<h2 class="cp-tit dep02">two, pagination easeing</h2>
			<div class="swiper_box">
				<div class="swiper two-swiper">
					<ul class="swiper-wrapper">
						<li class="swiper-slide">슬라이드1</li>
						<li class="swiper-slide">슬라이드2</li>
						<li class="swiper-slide">슬라이드3</li>
						<li class="swiper-slide">슬라이드4</li>
						<li class="swiper-slide">슬라이드5</li>
						<li class="swiper-slide">슬라이드6</li>
					</ul>
					<div class="swiper-pagination"></div>
				</div>    
			</div>
		</section>
	</div>
</div>

<!-- [S] PAGES - SCRIPT -->
<script src="./../com/js/ui.component.js"></script>
<!-- [E] PAGES - SCRIPT -->

</body>
</html>