#{$tab} {
  &-swiper {
    @include width;
    background:$color-white;
    @include overflow(x, hidden);
  }
  &-nav {
    @include pos(relative); @include height(50px); @include overflow(x, hidden);
    background-color: $color-white;
    padding-right:20px;

    #{$swiper}{
      &-slide {
        @include display(block);
        @include width(auto); @include overflow(y, hidden);
        cursor: pointer;      
        & > a {
          padding:1rem;
          color: $color-gray2;
          font-size:var(--space-ms);
          text-align: center;
          
          @include el-content(after) {
            @include el-size(0, .2rem);
          }
        }
        &.active > a {
          font-weight:bold;
          @include line-effect($color-blue3, after, center) {
            @include transition(0.5s, width, ease);
            @include el-size(100%, .2rem);
            bottom:0;
            background:$color-green2;
            border-radius:.4rem;
          }
        }
      }
    }
    &.moveBar {
      #{$swiper}{
        &-slide {
          &.active > a {
            @include el-content(after){
              display:none;
            }
          }
        }
      }
    }
  }
  &-active-bar {
    @include pos-offset-b(.9rem, 0);
    height:.3rem; margin-left:1.5rem;
    background:$color-orange; border-radius:.4rem;
    transition-property: all;
  }
  &-content {
    @include overflow (both, hidden); @include height(20rem);
    .swiper-slide {
      color:$color-white;
      line-height: 200px; text-align:center;
      cursor: pointer;
      background-color:$color-tbl-thead;

      &:nth-child(odd) {background-color:$color-blue4;}
    }
  }
}

#{$swiper}{
  $sw:'.swiper-wrapper';

  &-container{
    &-vertical{
      touch-action: pan-x;
      & > .swiper{
        &-wrapper {
          flex-direction: column;
        }
      } 
    }
  }

  &-free-mode{
    & > #{$sw} {
      transition-timing-function: ease-out;
      margin: 0 auto;
    }
  }

  &-vertical{
    & > #{$sw} {
      flex-direction: column;
    }
  }

  &-wrapper{
    display: flex;
    @include pos(relative);
    @include el-size(100%, 100%);
    z-index: 1;
    box-sizing: content-box;
  }

  &-slide{
    flex-shrink: 0;
    @include el-size(100%, 100%);
    @include pos(relative);
  }

  &-pagination{
    @include pos(absolute);
    text-align: center;
    @extend %transition3s;
    transform: translate3d(0,0,0);
    z-index: 10;

    &-bullet{
      @include el-size(10px, 10px !important) ;
      opacity: 1 !important;
      background: $color-white !important;
      border: 2px solid $color-blue4 !important;
      @include display(inline-block);
      border-radius: 100%;

      &-active{
        background: $color-blue4 !important;
        @include width(20px !important);
        border-radius: 15px !important;
        opacity: 1;
        background: #007aff
      }

      &:focus{
        outline: 2px solid $color-black;
        outline-offset: 1px;

        &:not(:focus-visible){
          outline: none !important;
        }
      }
    }
  }

  &-button {
    &-next {
      @include pos-offset-r(50%, 10px, absolute);
      @include el-size(27px, 44px);
      margin-top: -22px;
      z-index: 10;
      cursor: pointer;
      background-size: 27px 44px;
      background-position: center;
      background-repeat: no-repeat;
      
      &::after{
        content: '';
        @include display(block);
        @include auto-vertical-align;
        right: 0.75rem;
        @include el-size(2.2rem, 2.2rem);
        border: 2px solid $color-blue;
        border-width: 2px 2px 0 0;
        transform: translateY(-50%) rotate(45deg);
      }
    }
    &-prev{
      @include pos-offset-l(50%, 20px, absolute);
      @include el-size(27px, 44px);
      margin-top: -22px;
      z-index: 10;
      cursor: pointer;
      background-size: 27px 44px;
      background-position: center;
      background-repeat: no-repeat;

      &::after{
        content: '';
        @include display(block);
        @include auto-vertical-align;
        right: 0.75rem;
        width: 2.2rem; height: 2.2rem;
        border: 2px solid $color-blue;
        border-width: 2px 2px 0 0;
        transform: translateY(-50%) rotate(225deg);
      }
    }
  }

  &-container{
    &-3d{
      perspective: 1200px;

      & #{$sw}{
        transform-style: preserve-3d;
      }
    }
  }

}

.pg{
  &-swiper{
    overflow: hidden;
    @include height(20rem);

    & .swiper{
      &-slide{
        color: $color-white;
        line-height: 200px;
        text-align: center;
        cursor: pointer;
        background-color: $color-tbl-thead;
        margin-top: 10px;
        @include height(190px);
    
        &:nth-child(odd){
          background-color: $color-blue4;
        }
      }

      &-pagination{
        @include pos(absolute);
        bottom: -25px;
        width: 100%;
        @include width(100%);
    
        &-bullet {
          margin-right: 5px; 
        }
      }
    }
  }

  &-rt{
    @include pos(relative);

    &:last-child{
      margin-bottom: 2rem;
    }
  }

  &-wrap{
    @include display(flex){justify-content: center;}
  }
}

.play-btn-wrap {
  margin-left: 70px;
  
  & button{
    @include pos(absolute){bottom: -25px;}
    @include el-size(20px, 20px);
    z-index: 100;
    border-radius: 10px;
    background: $color-blue4;
    color: $color-white;
    cursor: pointer;
  }
}

/*접근성 ir css*/
.hidden {
  @include pos(absolute);
  clip: rect(0 0 0 0);
  @include el-size(1px, 1px);
  margin: -1px;
  overflow: hidden;
}